# Variables d'environnement - NE JAMAIS COMMITER
.env
*.env
docker/.env

# Dossiers système
.DS_Store
node_modules/

# Logs
*.log
# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
.env.prod